src/main/mule/cicd-connected-application.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<http:listener-config name="HTTP_Listener_config" doc:name="HTTP Listener config" doc:id="e539b771-35e5-4e44-8775-df50e5bbd707" >
		<http:listener-connection host="0.0.0.0" port="8081" />
	</http:listener-config>
	<flow name="cicd-connected-applicationFlow" doc:id="93b2cf3a-4f88-4a08-a523-c72e7969007e" >
		<http:listener doc:name="Listener" doc:id="0708ba0b-7dcf-4525-b3bd-8ed03c42335b" config-ref="HTTP_Listener_config" path="/cicd"/>
		<logger level="INFO" doc:name="Logger" doc:id="4b7975af-4602-439f-b1ff-493d4e08afe6" message="flow start"/>
		<ee:transform doc:name="Transform Message" doc:id="a79a7859-151c-42c9-8f53-32f625fcd430" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
{
	"status": "success",
	"message": "cicd connected application succssefully deployment completed"
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>
		<logger level="INFO" doc:name="Logger" doc:id="42b7a044-085a-4611-9e00-ec6d09ed1d9d" message="#[payload]"/>
	</flow>
</mule>
